In [1]:
import pandas as pd
import numpy as np

df = pd.read_csv("./WA_Fn-UseC_-Telco-Customer-Churn.csv")
df.head(3)

,customerID,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,...,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges,Churn
0,7590-VHVEG,Female,0,Yes,No,1,No,No phone service,DSL,No,...,No,No,No,No,Month-to-month,Yes,Electronic check,29.85,29.85,No
1,5575-GNVDE,Male,0,No,No,34,Yes,No,DSL,Yes,...,Yes,No,No,No,One year,No,Mailed check,56.95,1889.5,No
2,3668-QPYBK,Male,0,No,No,2,Yes,No,DSL,Yes,...,No,No,No,No,Month-to-month,Yes,Mailed check,53.85,108.15,Yes

##### 1. Какое соотношение мужчин и женщин в представленном наборе данных?

In [2]:
number_of_male = df[df['gender']=='Male']['gender'].count()
number_of_female = df[df['gender']=='Female']['gender'].count()
print(f'Отношение числа мужчин к числу женщин  => {number_of_male/number_of_female }')

Отношение числа мужчин к числу женщин  => 1.0192087155963303

##### 2. Какое количество уникальных значений у поля InternetService?

In [3]:
print(f'У поля "InternetService" {len(df["InternetService"].unique())} уникальных значения')

У поля "InternetService" 3 уникальных значения

##### 3. Выведите статистики по полю TotalCharges (median, mean, std).  
В чем странность того, что вы получили? (подсказка: смотреть нужно на тип данных)

In [4]:
try:
    df['TotalCharges'].agg([np.mean,np.median,np.std])
except Exception as e:
    print(f'Ошибка {e}. \nTotalCharges имеет тип {df["TotalCharges"].dtypes}.\n\
    Для такого типа в качестве оценки среднего можно посчитать моду => {df["TotalCharges"].mode()[1]}')

Ошибка no results.
TotalCharges имеет тип object.
    Для такого типа в качестве оценки среднего можно посчитать моду => 20.2

##### 4. Сделайте замену значений поля PhoneService  на числовые (Yes->1, No->0)

In [5]:
df['PhoneService'].replace({'Yes':1, 'No':0}, inplace=True)
df

,customerID,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,...,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges,Churn
0,7590-VHVEG,Female,0,Yes,No,1,0,No phone service,DSL,No,...,No,No,No,No,Month-to-month,Yes,Electronic check,29.85,29.85,No
1,5575-GNVDE,Male,0,No,No,34,1,No,DSL,Yes,...,Yes,No,No,No,One year,No,Mailed check,56.95,1889.5,No
2,3668-QPYBK,Male,0,No,No,2,1,No,DSL,Yes,...,No,No,No,No,Month-to-month,Yes,Mailed check,53.85,108.15,Yes
3,7795-CFOCW,Male,0,No,No,45,0,No phone service,DSL,Yes,...,Yes,Yes,No,No,One year,No,Bank transfer (automatic),42.30,1840.75,No
4,9237-HQITU,Female,0,No,No,2,1,No,Fiber optic,No,...,No,No,No,No,Month-to-month,Yes,Electronic check,70.70,151.65,Yes
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7038,6840-RESVB,Male,0,Yes,Yes,24,1,Yes,DSL,Yes,...,Yes,Yes,Yes,Yes,One year,Yes,Mailed check,84.80,1990.5,No
7039,2234-XADUH,Female,0,Yes,Yes,72,1,Yes,Fiber optic,No,...,Yes,No,Yes,Yes,One year,Yes,Credit card (automatic),103.20,7362.9,No
7040,4801-JZAZL,Female,0,Yes,Yes,11,0,No phone service,DSL,Yes,...,No,No,No,No,Month-to-month,Yes,Electronic check,29.60,346.45,No
7041,8361-LTMKD,Male,1,Yes,No,4,1,Yes,Fiber optic,No,...,No,No,No,No,Month-to-month,Yes,Mailed check,74.40,306.6,Yes
7042,3186-AJIEK,Male,0,No,No,66,1,No,Fiber optic,Yes,...,Yes,Yes,Yes,Yes,Two year,Yes,Bank transfer (automatic),105.65,6844.5,No

##### 5. Сделайте замену пробелов в поле TotalCharges на np.nan и приведите поле к типу данных float32. Затем заполните оставшиеся пропуски значением 0 с помощью метода fillna у столбца. Снова выведите статистики и сравните с тем, что вы видели в вопросе 3

In [6]:
df['TotalCharges'] = df['TotalCharges'].replace(' ', np.nan).astype('float32').fillna(0)
df['TotalCharges'].describe()
#print(df['TotalCharges'].agg([np.mean,np.median,np.std]))

count    7043.000000
mean     2279.732178
std      2266.794434
min         0.000000
25%       398.549988
50%      1394.550049
75%      3786.599976
max      8684.799805
Name: TotalCharges, dtype: float64

##### 6. Сделайте замену значений поля Churn на числовые (Yes -> 1, No - 0)

In [7]:
df['Churn'].replace({'Yes':1, 'No':0},inplace=True)
df.head(3)

,customerID,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,...,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges,Churn
0,7590-VHVEG,Female,0,Yes,No,1,0,No phone service,DSL,No,...,No,No,No,No,Month-to-month,Yes,Electronic check,29.85,29.850000,0
1,5575-GNVDE,Male,0,No,No,34,1,No,DSL,Yes,...,Yes,No,No,No,One year,No,Mailed check,56.95,1889.500000,0
2,3668-QPYBK,Male,0,No,No,2,1,No,DSL,Yes,...,No,No,No,No,Month-to-month,Yes,Mailed check,53.85,108.150002,1

##### 7. Сделайте замену значений полей StreamingMovies, StreamingTV, TechSupport  на числовые (Yes -> 1, No -> 0, No internet service->0)

In [8]:
print(f'StreamingMovies=> {df["StreamingMovies"].unique()}\n\
StreamingTV=> {df["StreamingTV"].unique()}\n\
TechSupport=> {df["TechSupport"].unique()}')
for col in ["StreamingMovies","StreamingTV","TechSupport"]:
    df[col].replace({'Yes':1, 'No':0, 'No internet service':0}, inplace=True)

StreamingMovies=> ['No' 'Yes' 'No internet service']
StreamingTV=> ['No' 'Yes' 'No internet service']
TechSupport=> ['No' 'Yes' 'No internet service']

##### 8. Заполните пропуски в поле PhoneService значением 0

In [9]:
df['PhoneService'].fillna(0, inplace=True)

#### 8. Для нашего датасета оставьте только указанный ниже список полей, удалив все другие и выведите верхние 3 строки

In [10]:
columns = ['gender', 'tenure', 'PhoneService', 'TotalCharges', 
           'StreamingMovies', 'StreamingTV', 'TechSupport', 'Churn']
#Ваш код здесь
df=df[columns]

##### 9. Разделите датасет на тренировочную и тестовую выборку (подсказка - воспользуйтесь train_test_split из sklearn.model_selection. Ссылка - https://scikit-learn.org/stable/modules/generated/sklearn.model_selection.train_test_split.html)

In [11]:
from sklearn.model_selection import train_test_split

features = ['gender', 'tenure', 'PhoneService', 'TotalCharges', 'StreamingMovies', 'StreamingTV', 'TechSupport']
target = 'Churn'
X=df[features]
y=df[target]
Xtrain,Xtest,ytrain,ytest=train_test_split(X,y, test_size=0.3, random_state=25)
Xtrain

,gender,tenure,PhoneService,TotalCharges,StreamingMovies,StreamingTV,TechSupport
4656,Female,22,1,1615.099976,0,0,0
1466,Male,12,1,571.150024,0,0,0
5280,Female,33,1,2531.399902,1,1,1
3443,Male,40,1,4116.799805,0,1,1
6787,Male,35,1,3782.399902,1,1,1
...,...,...,...,...,...,...,...
2934,Female,12,1,198.100006,0,0,0
2191,Female,1,1,91.300003,1,1,0
6618,Male,26,1,2208.750000,0,0,0
318,Male,24,1,2231.050049,1,1,0
5252,Male,71,1,7713.549805,1,1,0

##### 10. соберите pipeline для поля gender (нужно разобраться и изучить https://scikit-learn.org/stable/modules/generated/sklearn.pipeline.Pipeline.html ) из классов ColumnSelector и OHEEncoder, которые уже написаны ниже заранее

In [12]:
from sklearn.base import BaseEstimator, TransformerMixin
from sklearn.pipeline import Pipeline

class ColumnSelector(BaseEstimator, TransformerMixin):
    """
    Transformer to select a single column from the data frame to perform additional transformations on
    """
    def __init__(self, key):
        self.key = key

    def fit(self, X, y=None):
        return self

    def transform(self, X):
        return X[self.key]
    
class NumberSelector(BaseEstimator, TransformerMixin):
    """
    Transformer to select a single column from the data frame to perform additional transformations on
    Use on numeric columns in the data
    """
    def __init__(self, key):
        self.key = key

    def fit(self, X, y=None):
        return self

    def transform(self, X):
        return X[[self.key]]
    
class OHEEncoder(BaseEstimator, TransformerMixin):
    def __init__(self, key):
        self.key = key
        self.columns = []

    def fit(self, X, y=None):
        self.columns = [col for col in pd.get_dummies(X, prefix=self.key).columns]
        print(self.columns,self.key)
        return self

    def transform(self, X):
        X = pd.get_dummies(X, prefix=self.key)
        test_columns = [col for col in X.columns]
        for col_ in test_columns:
            if col_ not in self.columns:
                X[col_] = 0
        return X[self.columns]

gender = Pipeline([('selector', ColumnSelector(key='gender')),('ohe', OHEEncoder(key='gender'))])

##### 11. Вызовите метод fit_transform у пайплайна gender и передайте туда нашу тренировочную выборку (пример по ссылке из документации https://scikit-learn.org/stable/modules/generated/sklearn.pipeline.Pipeline.html#sklearn.pipeline.Pipeline.fit)

In [13]:
#Ваш код здесь
gender.fit_transform(Xtrain)
print(Xtrain)

['gender_Female', 'gender_Male'] gender
      gender  tenure  PhoneService  TotalCharges  StreamingMovies  \
4656  Female      22             1   1615.099976                0
1466    Male      12             1    571.150024                0
5280  Female      33             1   2531.399902                1
3443    Male      40             1   4116.799805                0
6787    Male      35             1   3782.399902                1
...      ...     ...           ...           ...              ...
2934  Female      12             1    198.100006                0
2191  Female       1             1     91.300003                1
6618    Male      26             1   2208.750000                0
318     Male      24             1   2231.050049                1
5252    Male      71             1   7713.549805                1

      StreamingTV  TechSupport
4656            0            0
1466            0            0
5280            1            1
3443            1            1
6787            1            1
...           ...          ...
2934            0            0
2191            1            0
6618            0            0
318             1            0
5252            1            0

[4930 rows x 7 columns]

##### 12. Здесь код писать уже не нужно (все сделано за вас). К полю tenure применяем StandardScaler (нормируем и центрируем). Ссылка - https://scikit-learn.org/stable/modules/generated/sklearn.preprocessing.StandardScaler.html
Вопрос - в каких случаях это может быть полезно?

In [14]:
from sklearn.preprocessing import StandardScaler

tenure =  Pipeline([
                ('selector', NumberSelector(key='tenure')),
                ('standard', StandardScaler())
            ])

#### стандартизация полезна в тех случаях, когда модель чувствителна к масштабу признаков.

##### 13. Напишите аналогичный (как для tenure) преобразователь поля TotalCharges

In [15]:
TotalCharges =  Pipeline([
                ('selector', NumberSelector(key='TotalCharges')),
                ('standard', StandardScaler())
            ])

Объединение всех "кубиков" очень легко сделать таким образом

In [16]:
from sklearn.pipeline import FeatureUnion

number_features = Pipeline([
                ('selector', ColumnSelector(key=['PhoneService',
                                                 'StreamingMovies', 'StreamingTV', 
                                                 'TechSupport']))
            ])

In [17]:
feats = FeatureUnion([('tenure', tenure),
                      ('TotalCharges', TotalCharges),
                      ('continuos_features', number_features),
                      ('gender', gender)])
feature_processing = Pipeline([('feats', feats)])

In [18]:
from sklearn.ensemble import RandomForestClassifier

pipeline = Pipeline([
    ('features',feats),
    ('classifier', RandomForestClassifier(random_state = 42)),
])
#print(Xtrain.isna)

pipeline.fit(Xtrain, ytrain)

['gender_Female', 'gender_Male'] gender

Pipeline(steps=[('features',
                 FeatureUnion(transformer_list=[('tenure',
                                                 Pipeline(steps=[('selector',
                                                                  NumberSelector(key='tenure')),
                                                                 ('standard',
                                                                  StandardScaler())])),
                                                ('TotalCharges',
                                                 Pipeline(steps=[('selector',
                                                                  NumberSelector(key='TotalCharges')),
                                                                 ('standard',
                                                                  StandardScaler())])),
                                                ('continuos_features',
                                                 Pipeline(steps=[('selector',
                                                                  ColumnSelector(key=['PhoneService',
                                                                                      'StreamingMovies',
                                                                                      'StreamingTV',
                                                                                      'TechSupport']))])),
                                                ('gender',
                                                 Pipeline(steps=[('selector',
                                                                  ColumnSelector(key='gender')),
                                                                 ('ohe',
                                                                  OHEEncoder(key='gender'))]))])),
                ('classifier', RandomForestClassifier(random_state=42))])

##### 14. Сделайте прогноз вероятности оттока для X_test с помощью нашего предобученного на предыдущем шаге пайплайна и убедитесь что вам возвращаются вероятности для 2 классов

In [19]:
#Ваш код здесь
pipeline.predict_proba(Xtest)

array([[1.  , 0.  ],
       [0.95, 0.05],
       [0.99, 0.01],
       ...,
       [0.45, 0.55],
       [0.97, 0.03],
       [1.  , 0.  ]])

##### 15. Посчитайте метрики качества получившейся модели (roc_auc, logloss)

In [24]:
from sklearn.metrics import roc_auc_score, log_loss

#Ваш код здесь
print(f"roc auc score: {roc_auc_score(y_true=ytest, y_score=pipeline.predict_proba(Xtest)[:,1])}")
print(f"log loss score: {log_loss(y_true=ytest, y_pred=pipeline.predict_proba(Xtest)[:,1])}")

roc auc score: 0.7704484589122776
log loss score: 0.9033967947155298

### Сохраним наш пайплайн

In [21]:
import dill
with open("model_RF.dill", "wb") as f:
    dill.dump(pipeline, f)